<div class="text-center">
	<h2>{{"Welcome To Pecuniabanking-nikshitha"}}</h2> 
</div> 
<nav class="navbar navbar-default text-center">
  
  <p>
	  <button type="button" class="btn btn-outline-primary"><a routerLink="chequecredit" routerLinkActive="active" > Credit amount using Cheque</a></button>
  
	  <button type="button" class="btn btn-outline-primary"><a routerLink="chequedebit" routerLinkActive="active" > Debit amount using Cheque</a></button>
  
  </p>
  
</nav> 
<router-outlet></router-outlet>